body {
    background-color: #ede3c4;
    text-align: center;
}
a {
    text-decoration: none;
    color: #333;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    text-align: center;
    font-family: 'Courier New', Courier, monospace; 
    width: 500px;
    margin: 0 auto;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #333;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}

ul {
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
    width: 500px;     
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ol {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    list-style-position: inside;
    background-color: #FFFFFF;
    width: 500px;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}
